<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
 
     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="me.glindholm.plugin.quickimage2.editors.QuickImageEditor"
            icon="icons/icon.gif"
            default="true"
            name="QuickImage2 Editor"
            id="me.glindholm.plugin.quickimage2.editors.QuickImageEditor"
            extensions="bmp,cur,dcx,dds,gif,ico,incs,jpeg,jpg,pam,pbm,pcx,pgm,pict,png,pnm,ppm,psd,sgi,svg,tga,tif,tiff,webp,xpm,xwd">
      </editor>
   </extension>

</plugin>
